<footer class="text-center text-lg-start bg-light text-muted">
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>

    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </section>

  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Diabetic App
          </h6>
          <p>Application for people who are struggling with diabetes type 1.</p>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Partners</h6>
          <p>
            <a href="https://www.freestyle.abbott/home.html" class="text-reset"
              >Freestyle libre</a
            >
          </p>
          <p>
            <a href="https://diabetyk24.pl/" class="text-reset">Diabetyk24</a>
          </p>
          <p>
            <a
              href="https://www.medtronic.com/us-en/index.html?cmpid=mdt_com_orcl_us_home_f52_plc_home&utm_source=mdt_com_orcl_us_home&utm_medium=f5_redirect&utm_campaign=MDT_PLC_Launch_2015"
              class="text-reset"
              >Medtronic</a
            >
          </p>
          <p>
            <a href="https://ptdiab.pl/" class="text-reset"
              >Polskie Towarzystwo Diabetologiczne</a
            >
          </p>
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Useful links</h6>
          <p>
            <a
              href="https://my.clevelandclinic.org/health/diseases/7104-diabetes"
              class="text-reset"
              >Diabets: what is it?</a
            >
          </p>
          <p>
            <a
              href="https://www.youtube.com/watch?v=yQkMRWEnA40"
              class="text-reset"
              >Insuline pomp training</a
            >
          </p>
          <p>
            <a href="https://www.diabetes.org.uk/" class="text-reset"
              >Portal for diabets</a
            >
          </p>
          <p>
            <a href="#!" class="text-reset">Help</a>
          </p>
        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p>
            <i class="fas fa-home me-3"></i> Warszawa, ul. Waryńskiego 12, PL
          </p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            mariuszpaluch001@gmail.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 47 123 456 789</p>
        </div>
      </div>
    </div>
  </section>

  <div class="text-center p-4" style="background-color: #3b71ca; color: white">
    © 2023 Copyright:
    <a class="text-reset fw-bold">Mariusz Paluch</a>
  </div>
</footer>
