mat-card {
  border-radius: 20px 20px 20px 20px;
  min-height: 550px;
  font-weight: bold;
  font-size: large;
  color: black;
  background-color: blueviolet;
}

mat-card-title {
  font-size: larger;
}

.text-center {
  margin-top: 150px;
}
