<div class="div-center">
  <h1>Home page</h1>
  <div class="div-margin">
    <mat-grid-list cols="2" rowHeight="2:1">
      <a [routerLink]="['/glucose-level/list']">
        <mat-grid-tile>Glucose samples list</mat-grid-tile>
      </a>
      <a [routerLink]="['/insuline-doze/list']">
        <mat-grid-tile>Insuline dozes list</mat-grid-tile>
      </a>
      <a [routerLink]="['/dish/list']">
        <mat-grid-tile>Dishes list</mat-grid-tile>
      </a>
      <a [routerLink]="['/meal/list']">
        <mat-grid-tile>Meals list</mat-grid-tile>
      </a>
    </mat-grid-list>
  </div>
</div>
