mat-grid-tile {
  font-weight: bold;
  font-size: 30px;
  background-color: #3e51b5;
  color: #dbd9d9;
}

.div-center {
  text-align: center;
}

.div-margin {
  margin: 5%;
}

.link {
  color: inherit;
  text-decoration: none;
}
