<div class="div-center">
  <div class="div-margin">
    <mat-grid-list cols="2" rowHeight="2:1" [gutterSize]="'20px'">
      <a [routerLink]="['/glucose-level/list']" class="link">
        <mat-grid-tile>Glucose samples</mat-grid-tile>
      </a>
      <a [routerLink]="['/insuline-doze/list']" class="link">
        <mat-grid-tile>Insuline dozes</mat-grid-tile>
      </a>
      <a [routerLink]="['/dish/list']" class="link">
        <mat-grid-tile>Dishes</mat-grid-tile>
      </a>
      <a [routerLink]="['/meal/list']" class="link">
        <mat-grid-tile>Meals</mat-grid-tile>
      </a>
    </mat-grid-list>
  </div>
</div>
