<div class="container" novalidate>
  <div>
    <mat-toolbar class="login-toolbar" color="primary">Save glucose level</mat-toolbar>
    <mat-card>
      <form
        [formGroup]="glucoseForm"
        #formDirective="ngForm"
        (ngSubmit)="onSubmit()"
      >
        <mat-form-field class="form-element">
          <mat-icon matPrefix>invert_colors</mat-icon>
          <input
            autofocus
            matInput
            type="text"
            placeholder="Input glucose value"
            formControlName="glucoseLevel"
            required
          />
          <mat-error *ngIf="checkValidation('glucoseLevel')">
            {{ getErrorGlucoseLevel() }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-element">
          <mat-icon matPrefix>filter_list</mat-icon>
          <mat-label>Glucose unit</mat-label>
          <mat-select formControlName="unit">
            <mat-option *ngFor="let unit of units" [value]="unit.label">
              {{ unit.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <hr />
        <div class="button-submit">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            class="button"
          >
            Submit
          </button>
        </div>
      </form>
    </mat-card>
  </div>
</div>
