<div *ngIf="allGlucoseLevels.length > 0; else nodata_content">
  <br />
  <br />
  <app-glucose-chart [glucoseLevels]="glucoseLevels"></app-glucose-chart>
  <br />
  <div class="mx-5 menu">
    <a [routerLink]="['/glucose-level/save-form']" style="margin-right: 10px">
      <button mat-raised-button color="primary">
        <mat-icon matPrefix>add</mat-icon>
        Add new sample
      </button>
    </a>

    <button mat-raised-button color="primary" [matMenuTriggerFor]="appMenu">
      <mat-icon>calendar_today</mat-icon>
      Choose date
    </button>
    <mat-menu #appMenu="matMenu">
      <div (click)="$event.stopPropagation()">
        <mat-calendar
          #calendar
          [selected]="selectedDate"
          (selectedChange)="onSelect($event)"
          [dateClass]="dateClass()"
        >
        </mat-calendar>
      </div>
    </mat-menu>
  </div>
  <br />
  <h2 class="mx-5">Choosed date: {{ selectedDate | date : "dd/MM/yyyy" }}</h2>
  <app-glucose-list [glucoseLevels]="glucoseLevels"></app-glucose-list>
</div>

<ng-template #nodata_content>
  <br />
  <br />
  <app-no-content></app-no-content>
  <br />
  <div style="text-align: center">
    <a [routerLink]="['/glucose-level/save-form']">
      <button mat-raised-button color="primary">
        <mat-icon matPrefix>add</mat-icon>
        Add new sample
      </button>
    </a>
  </div>

  <br />
  <br />
</ng-template>
