.title {
  font-size: 100px;
  font-weight: bolder;
  text-align: center;
  padding: 5%;
}

.subtitle {
  font-size: 30px;
  text-align: center;
}

.component-margin {
  margin-top: 15%;
  margin-bottom: 15%;
}
