<div
  class="glucose-row"
  [style.background-color]="
    glucoseSample.value < glucoseNorms.Too_Low
      ? rowColors.Low
      : glucoseSample.value < glucoseNorms.Norm
      ? rowColors.Norm
      : glucoseSample.value < glucoseNorms.High
      ? rowColors.High
      : rowColors.Too_High
  "
>
  <br />
  <p class="glucose-p">
    Data pomiaru: {{ glucoseSample.timestamp | date : "hh:mm:ss a" }}
  </p>
  <p class="glucose-p">
    Wartość pomiaru: {{ glucoseSample.value }} {{ glucoseSample.unitName }}
  </p>
  <br />
  <a
    class="glucose-sample-link"
    [routerLink]="['/glucose-level/list/', glucoseSample.Id]"
  >
    <button mat-raised-button color="primary">Show sample</button>
  </a>
  <br /><br />
</div>
