.fill-remaining-space {
  flex: 1 1 auto;
}

.button-submit {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.toolbar {
  justify-content: center;
}

.container {
  margin-top: 10%;
  margin-bottom: 10%;
  padding: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.form-element {
  padding: 25px 25px 25px 25px;
  width: 100%;
}

.button {
  width: 100%;
}

.text-area {
  height: 200px;
}
