<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span><a routerLink="home">Diabetic app</a></span>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        <button
          mat-icon-button
          [matMenuTriggerFor]="routerMenu"
          class="example-icon favorite-icon"
          aria-label="Example icon-button with a menu"
        >
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #routerMenu="matMenu">
          <a routerLink="glucose-level/list" mat-menu-item>
            <mat-icon>invert_colors</mat-icon>
            Glucose levels</a
          >
          <a routerLink="insuline-doze/list" mat-menu-item>
            <mat-icon>vaccines</mat-icon>
            Insuline dozes</a
          >
          <a routerLink="dish/list" mat-menu-item>
            <mat-icon>local_dining</mat-icon>
            Dishes</a
          >
          <a routerLink="meal/list" mat-menu-item>
            <mat-icon>local_pizza</mat-icon>
            Meals</a
          >
        </mat-menu>

        <button
          mat-icon-button
          [matMenuTriggerFor]="loginMenu"
          class="example-icon favorite-icon"
          aria-label="Example icon-button with a menu"
        >
          <mat-icon>person_outline</mat-icon>
        </button>
        <mat-menu #loginMenu="matMenu">
          <span mat-menu-item *ngIf="isLoggedIn">Hello {{ userName }}</span>
          <a mat-menu-item>
            <mat-icon>settings</mat-icon>
            Settings
          </a>
          <a
            routerLink="home"
            mat-menu-item
            *ngIf="isLoggedIn"
            (click)="logout()"
          >
            <mat-icon>logout</mat-icon>
            Logout</a
          >
          <a routerLink="auth/login" mat-menu-item *ngIf="!isLoggedIn">
            <mat-icon>login</mat-icon>
            Login</a
          >
          <a routerLink="auth/register" mat-menu-item *ngIf="!isLoggedIn">
            <mat-icon>person_add</mat-icon>
            Register</a
          >
        </mat-menu>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
