<mat-card class="m-5" style="background-color: blueviolet">
  <mat-card-title>
    <mat-card-title class="m-3">Insuline doze</mat-card-title>
  </mat-card-title>
  <mat-card-content style="text-align: center">
    <div class="text-center">
      <p>
        Timestamp:
        {{ insulineSample.timestamp | date : "dd/MM/yyyy hh:mm:ss a" }}
      </p>
      <p>
        Units: {{ insulineSample.units }} ({{
          insulineSample.typeName | lowercase
        }})
      </p>
      <p>Description: {{ insulineSample.description }}</p>
    </div>
  </mat-card-content>
</mat-card>
