<div class="meal-row">
  <br />
  <p class="meal-p">Timestamp: {{ meal.timestamp | date : "hh:mm:ss a" }}</p>
  <p class="meal-p">Dishname: {{ meal.dish_name }}</p>
  <p class="meal-p">
    Quantity: {{ meal.quantity }} {{ meal.dish_unit | lowercase }}
  </p>
  <p class="meal-p">Description: {{ meal.description }}</p>
  <br />
  <a class="meal-sample-link" [routerLink]="['/meal/list/', meal.Id]">
    <button mat-raised-button color="primary">Show sample</button>
  </a>
  <br /><br />
</div>
