<div class="glucose-row">
  <br />
  <p class="glucose-p">
    Data pomiaru: {{ insulineSample.timestamp | date : "hh:mm:ss a" }}
  </p>
  <p class="glucose-p">
    Ilość jednostek: {{ insulineSample.units }} ({{
      insulineSample.typeName | lowercase
    }})
  </p>
  <p class="glucose-p">Opis: {{ insulineSample.description }}</p>
  <br />
  <a
    class="glucose-sample-link"
    [routerLink]="['/insuline-doze/list/', insulineSample.Id]"
  >
    <button mat-raised-button color="primary">Show sample</button>
  </a>
  <br /><br />
</div>
