<mat-card class="mx-5 home-card">
  <mat-card-content class="home-card-content">
    <img
      mat-card-image
      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
      alt="Photo of food"
    />
    <div>
      <p class="dish-p">Dish name: {{ dish.name }}</p>
      <p class="dish-p">
        Carbohydrate exchange (CE): {{ dish.carbohydrate_exchange }}
      </p>
      <p class="dish-p">Glycemic index (GI): {{ dish.glycemic_index }}</p>
      <p class="dish-p">Description: {{ dish.description }}</p>
    </div>
  </mat-card-content>
</mat-card>
